@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
 
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


nav{

  position: fixed;
  background: transparent;
  width: 100%;
  transition: all 0.35s ease-out;
  line-height: 60px;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
.fixed {
    position:fixed;
    top:0;
    width: 100%;
    background: black;
    transition: all 0.35s ease;
    height: auto;
    padding: 10px 10px;
    
}
nav .logo{
  float: left;
  color: black;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

nav ul li{
  
  display: inline-block;
  float: left;
  background: transparent;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;

  background: black;             
}
nav.fixed  ul li a{
  color: white;
  line-height: 55px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav.fixed ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav.fixed ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  background: black;

}
nav ul ul li a{
  line-height: 50px;
  color: cyan;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  
  nav.fixed{
    height: auto;

  }

  nav ul{
    
    margin-right: 0px;
    float: left;
    background: black;
    color: white;
  }
  nav.fixed ul{
    
    margin: 0px;
    float: left;
    background: black;
    color: white;
    
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  nav.fixed  ul li a{
   
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
  }
  nav.fixed  .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav.fixed .show + a,nav.fixed ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
    color: cyan;
  }
  nav.fixed ul li,nav.fixed ul ul li{
    display: block;
    width: 100%;
    color: cyan;
  }
  nav ul li a, nav ul ul li a{
    color: white;
  }
  nav.fixed ul li a, nav.fixed ul ul li a{
    color: white;
  }
  nav ul li a:hover{
    box-shadow: none;
    color: cyan;
    text-decoration: none;
  }
  nav.fixed ul li a:hover{
    box-shadow: none;
    color: cyan;
    text-decoration: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  nav.fixed .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  nav.fixed .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: black;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav.fixed .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  
 
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav.fixed ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  
  nav.fixed ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav.fixed ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  nav.fixed ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  nav.fixed ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
  .content{
    z-index: -1;
    text-align: center;

    
    position: relative;
  }
  
}
.content{
  z-index: -1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 80px;
}
.content > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fond{
  width: 100%;
  padding-top:85px;
  top:0;
  left:0; 
  right:0;
  bottom:0;
  background-color:#00506b;
  
}

 
 .style_prevu_kit{

     display:inline-block;
     border:0;
     width:200px;
     height:150px;
   margin-bottom:5px;
     position: relative;
     
     transition: all 200ms ease-in;
     transform: scale(1); 
 }
 
 .zoombox{
     box-shadow: 0px 0px 150px #000000;
     z-index: 2;
     
     transition: all 200ms ease-in;
     transform: scale(1.1);
 }

