.ml1 {
    font-family: sans-serif;
    position: relative;
    font-weight: 200;
    font-size: 2em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml1 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

  .ml2 {
    font-family: sans-serif;
    position: relative;
    font-weight: 200;
    font-size: 2em;
  }
  
  .ml2 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml2 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

  .ml3 {
    font-family: sans-serif;
    position: relative;
    font-weight: 200;
    font-size: 2em;
  }
  
  .ml3 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml3 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

  .ml4 {
    font-family: sans-serif;
    position: relative;
    font-weight: 200;
    font-size: 3em;
  }
  
  .ml4 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml4 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }