
.carousel-container{
    flex:1;
    
}
#carousel-header{
    text-align: center;
}

#carousel-container{
    width:80vw;
    height:80vh;
}

.carousel-item{
    max-height:80vh;
    max-width:80vw;
}
img{
    height: 600px;
    width: 1000px;
}
@media screen and (max-width: 968px) {
.carousel slide{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    img{
        height: 450px;
        width: 100%;
    }
}