*{
    margin:0;
    padding:0;
}

#carousel-header{
    text-align: center;
}

#carousel-container{
    width:80vw;
    height:80vh;
}

.carousel-item{
    max-height:80vh;
    max-width:80vw;
}

@media screen and (max-width: 300px) {
.carousel slide{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}